$blue: #4056A1;
$light-blue: #1DA1F2;

nav {
  height: 120px;
  width: 100%;
  background-color: $blue;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;

  span {
    font-family: 'Bungee', cursive;
  }

  .nav-right {
    margin-left: auto;
    font-family: sans-serif;
    padding: 1.5em;

    button.new.tweet {
      background-color: transparent;
      border: none;
      color: #FFFFFF;
      cursor: pointer;

      i {
        color: red;
      }

      &:hover {
        color: lightblue;
      }
    }
  }
}