@media screen and (min-width: 1024px) {
  .first-header {
    float: left;
    width: 35%;
    margin-left: 4%;
    margin-top: 5%;
    margin-right: 3%;
  }
  .container {
    float: right;
    width: 48%;
    margin-right: 2%;
    margin-top: 3%;
  }
}


@media screen and (max-width: 768px) and (max-width: 1024px) {
  .first-header, .container {
    flex-direction: column;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 10%;
  }
}