nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
}
nav span {
  font-family: "Bungee", cursive;
}
nav .nav-right {
  margin-left: auto;
  font-family: sans-serif;
  padding: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
nav .nav-right button.new.tweet {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
nav .nav-right button.new.tweet i {
  color: red;
}
nav .nav-right button.new.tweet:hover {
  color: lightblue;
}
nav .nav-right button.new.tweet:hover .fa-angles-down {
  animation: bounce 2s infinite;
}


.fa-angles-down:hover {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}