nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
}
nav span {
  font-family: "Bungee", cursive;
}
nav .nav-right {
  margin-left: auto;
  font-family: sans-serif;
  padding: 1.5em;
}
nav .nav-right button.new.tweet {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
nav .nav-right button.new.tweet i {
  color: red;
}
nav .nav-right button.new.tweet:hover {
  color: lightblue;
}
